<div >
    <div class="choice-box clearfix">
    <select class="select-u">
        <option>全部</option>
        <option>待审核</option>
        <option>待支付</option>
        <option>确认关闭</option>
        <option>新投诉</option>
    </select>
    <div class="search-box">
        <span class="search-img"><img src="images/search.png"></span>
        <input type="text" class="" placeholder="Search">
    </div>
</div>
    <div class="teams-part">
    <div class="radius-top"><img src="images/radius_top.png"></div>
    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
    <div class="team-infor clearfix">
        <div class="team-img color-02"><img src="images/state02.png"></div>
        <div class="team-text">
            <h5>周庄烟雨水乡一日游</h5>
            <p class="team-detail">双桥、张厅、沈厅、迷楼、福安桥、张陵公园、单桥、李厅</p>
            <p class="team-time">2017.02.21 08:00~2017.02.21 16:00</p>
        </div>
        <div class="team-state">
            <p>2017-02-15  15:31</p>
            <div class="team-pay">
                <i class="iconfont cb">&#xe61c;</i><span>1人</span>
                <i class="iconfont cr">&#xe613;</i><span>￥300/次</span>
            </div>
        </div>
    </div>
    <div class="team-btn">
        <a class="btn-cn btn-empty-yellow">查看详情</a>
    </div>
</div>
    <div class="teams-part">
    <div class="radius-top"><img src="images/radius_top.png"></div>
    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
    <div class="team-infor clearfix">
        <div class="team-img color-03"><img src="images/state03.png"></div>
        <div class="team-text">
            <h5>周庄烟雨水乡一日游</h5>
            <p class="team-detail">双桥、张厅、沈厅、迷楼、福安桥、张陵公园、单桥、李厅</p>
            <p class="team-time">2017.02.21 08:00~2017.02.21 16:00</p>
        </div>
        <div class="team-state">
            <p>2017-02-15  15:31</p>
            <div class="team-pay">
                <i class="iconfont cb">&#xe61c;</i><span>1人</span>
                <i class="iconfont cr">&#xe613;</i><span>￥300/次</span>
            </div>
        </div>
    </div>
    <div class="team-btn">
        <a class="btn-cn btn-empty-yellow">查看详情</a>
    </div>
</div>
    <div class="teams-part">
    <div class="radius-top"><img src="images/radius_top.png"></div>
    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
    <div class="team-infor clearfix">
        <div class="team-img color-04"><img src="images/state04.png"></div>
        <div class="team-text">
            <h5>导游审核</h5>
            <p class="team-detail">
                <span>姓名：曹永平 </span>
                <span>性别：女 </span>
                <span>资历：3年</span>
            </p>
            <p class="team-time">
                <span>联系电话：0512-52842645 </span>
                <span>导游证编号：D-3203-004565</span>
            </p>
        </div>
        <div class="team-state">
            <p>2017-02-15  15:31</p>
        </div>
    </div>
    <div class="team-btn">
        <a class="btn-cn btn-empty-yellow">查看详情</a>
    </div>
</div>
    <div class="teams-part">
    <div class="radius-top"><img src="images/radius_top.png"></div>
    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
    <div class="team-infor clearfix">
        <div class="team-img color-05"><img src="images/state05.png"></div>
        <div class="team-text">
            <h5>周庄烟雨水乡一日游</h5>
            <p class="team-detail">
                <span>投诉类型：景区环境 </span>
                <span>投诉内容：周庄环境脏乱差 </span>
            </p>
            <p class="team-time">
                <span>投诉人：王小艺 </span>
                <span>联系方式：18615865865</span>
            </p>
        </div>
        <div class="team-state">
            <p>2017-02-15  15:31</p>
        </div>
    </div>
    <div class="team-btn">
        <a class="btn-cn btn-empty-yellow">查看详情</a>
    </div>
</div>
</div>

