<div ng-controller="AgencyManageCtrl">
    <div ng-show="State=='index'">
        <div class="choice-box clearfix">
            <select class="select-u">
                <option>全部</option>
                <option>星级从高到低</option>
                <option>品牌导游</option>
                <option>按性别排序</option>
                <option>按会员类型</option>
            </select>
            <div class="search-box">
                <span class="search-img" ng-click="init()"><img src="images/search.png"></span>
                <input type="text" placeholder="Search" ng-model="agencyObj.title">
            </div>
            <div class="fr m-t-5"><a class="btn-import"><i class="iconfont">&#xe633;</i>导入旅行社</a></div>
        </div>
        <div class="dis-table">
            <table class="table-list">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>星级</th>
                        <th>统一社会信用代码</th>
                        <th>单位座机</th>
                        <th>法人代表</th>
                        <th>法人手机</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,agency) in agencyList">
                    <td ng-bind="key+1">1</td>
                    <td ng-bind="agency.name">苏州青年旅行社</td>
                    <td ng-bind="agency.star">4.5</td>
                    <td ng-bind="agency.idnum">LHUN-01084</td>
                    <td ng-bind="agency.phone">0512-67678903</td>
                    <td ng-bind="agency.legal_person">张拉力</td>
                    <td ng-bind="agency.legal_person_mobile">18345698523</td>
                    <td>
                        <a><i class="iconfont" ng-click="ShowDetail(agency.id)">&#xe645;</i></a>
                        <a><i class="iconfont" title="停用" ng-click="DelAgency(agency.id)">&#xe6cf;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <pagination class="pagination-sm pull-right"
                        items-per-page="agencyObj.page_size"
                        ng-model="agencyObj.page"
                        total-items="totalItems"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        boundary-links="false"
                        boundary-link-numbers="true"
                        rotate="false"
                        force-ellipses="true"
                        previous-text="‹"
                        next-text="›">
            </pagination>
        </div>
    </div>

    <div ng-show="State=='detail'">
        <div class="fr m-t-5" ng-click="turnToIndex()"><a class="btn-cn btn-yellow">返&nbsp;&nbsp;&nbsp;&nbsp;回</a></div>
        <agency-info></agency-info>
        <div class="text-center m-t-30 m-b-30">
            <a class="btn-cn btn-yellow"  ng-click="DelAgency(agencyInfo.id)">停&nbsp;&nbsp;&nbsp;&nbsp;用</a>
        </div>
    </div>

    <div ng-show="State=='history'">
        <div class="choice-box clearfix">
            <select class="select-u" ng-model="orderObj.order_type" ng-change="initOrder()">
                <option value="1">按星级顺序</option>
                <option value="2">按时间倒序</option>
            </select>
            <div class="search-box">
                <span class="search-img"><img src="images/search.png"></span>
                <input type="text" class="" placeholder="Search" ng-model="orderObj.title">
            </div>
            <div class="fr m-t-5" ng-click="turnToDetail()"><a class="btn-cn btn-yellow">返&nbsp;&nbsp;&nbsp;&nbsp;回</a></div>
        </div>
        <div class="teams-box">
            <div class="teams-part" ng-repeat="order in orderList">
                <div class="radius-top"><img src="images/radius_top.png"></div>
                <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                <div class="team-infor clearfix">
                    <div class="team-img"><img src="images/team02.png"></div>
                    <div class="team-text">
                        <h5 ng-bind="order.name"></h5>
                        <p class="team-detail" ng-bind="order.desc"></p>
                        <!--这边做特殊处理-->
                        <p class="team-time">{{order.begin_time}}~{{order.end_time}}</p>
                    </div>
                    <div class="team-state">
                        <p ng-bind="order.guide_comment.comment_time">2017-02-15 15:31</p>
                        <div class="team-pay">
                            <i class="iconfont cb">&#xe61c;</i><span><span ng-bind="order.guide_num"></span>人</span>
                            <i class="iconfont cr">&#xe613;</i><span>￥<span
                                ng-bind="order.guide_money"></span>/次</span>
                        </div>
                    </div>
                </div>
                <div class="team-comment">
                    <p><div style="display: inline" star rating-value="order.guide_comment.star" max="5" on-hover="onHover" on-leave="onLeave" readonly="true"></p>
                    <p class="team-comment-text" ng-bind="order.guide_comment.content">认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。</p>
                </div>
            </div>
        </div>
        <pagination class="pagination-sm pull-right"
                    items-per-page="orderObj.page_size"
                    ng-model="orderObj.page"
                    total-items="totalItems"
                    max-size="maxSize"
                    ng-change="pageChangedOrder()"
                    boundary-links="false"
                    boundary-link-numbers="true"
                    rotate="false"
                    force-ellipses="true"
                    previous-text="‹"
                    next-text="›">
        </pagination>
    </div>
</div>

<script type="text/javascript">
    // tab切换
    $(".comment-list:first").show();
    $(".tab-comment li:first").addClass("comment-on");
    $(".tab-comment li").click(function() {
        $(this).addClass("comment-on").removeClass("").siblings().removeClass("comment-on").addClass("");
        $(".comment-list").hide().eq($(".tab-comment li").index(this)).show();
    });
</script>