<div ng-controller="AgencyManageCtrl">
    <div ng-show="State=='index'">
        <div class="choice-box clearfix">
            <select class="select-u">
                <option>全部</option>
                <option>星级从高到低</option>
                <option>品牌导游</option>
                <option>按性别排序</option>
                <option>按会员类型</option>
            </select>
            <div class="search-box">
                <span class="search-img" ng-click="initText()"><img src="images/search.png"></span>
                <input type="text" placeholder="Search" ng-model="agencyObj.title">
            </div>
            <div class="fr m-t-5">
                <a class="btn-import"><i class="iconfont">&#xe633;</i>导入旅行社</a>
                <input id="import_agency" class="upload-file-input"  name="upload" type="file"
                       onchange="angular.element(this).scope().file_changed(this)" />
            </div>
        </div>
        <div class="dis-table">
            <table class="table-list">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>星级</th>
                    <th>统一社会信用代码</th>
                    <th>单位座机</th>
                    <th>法人代表</th>
                    <th>法人手机</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,agency) in agencyList">
                    <td ng-bind="key+1">1</td>
                    <td ng-bind="agency.name">苏州青年旅行社</td>
                    <td ng-bind="agency.star">4.5</td>
                    <td ng-bind="agency.idnum">LHUN-01084</td>
                    <td ng-bind="agency.phone">0512-67678903</td>
                    <td ng-bind="agency.legal_person">张拉力</td>
                    <td ng-bind="agency.legal_person_mobile">18345698523</td>
                    <td>
                        <a><i class="iconfont" ng-click="ShowDetail(agency.id)">&#xe645;</i></a>
                        <a><i class="iconfont" title="停用" ng-click="DelAgency(agency.id)">&#xe6cf;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <pagination ng-show="totalItems>0" class="pagination-sm pull-right"
                        items-per-page="agencyObj.page_size"
                        ng-model="agencyObj.page"
                        total-items="totalItems"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        boundary-links="false"
                        boundary-link-numbers="true"
                        rotate="false"
                        force-ellipses="true"
                        previous-text="‹"
                        next-text="›">
            </pagination>
        </div>
    </div>

    <div ng-show="State=='detail'">
        <div class="fr m-t-5" ng-click="turnToIndex()"><a class="btn-cn btn-yellow">返&nbsp;&nbsp;&nbsp;&nbsp;回</a></div>
        <agency-info></agency-info>
        <div class="text-center m-t-30 m-b-30">
            <a class="btn-cn btn-yellow" ng-click="DelAgency(agencyInfo.id)">停&nbsp;&nbsp;&nbsp;&nbsp;用</a>
        </div>
    </div>

    <div ng-show="State=='history'">
        <div class="choice-box clearfix">
            <select class="select-u" ng-model="orderObj.order_type" ng-change="initOrder()">
                <option value="1">按星级顺序</option>
                <option value="2">按时间倒序</option>
            </select>
            <div class="search-box">
                <span class="search-img" ng-click="initTextOrder()"><img src="images/search.png"></span>
                <input type="text" class="" placeholder="Search" ng-model="orderObj.title">
            </div>
            <div class="fr m-t-5" ng-click="turnToDetail()"><a class="btn-cn btn-yellow">返&nbsp;&nbsp;&nbsp;&nbsp;回</a>
            </div>
        </div>
        <p class="noorder" ng-show="totalItemsOrder==0"><img src="images/noorder.png"></p>
        <order-history></order-history>
        <pagination ng-show="totalItemsOrder>0" class="pagination-sm pull-right"
                    items-per-page="orderObj.page_size"
                    ng-model="orderObj.page"
                    total-items="totalItemsOrder"
                    max-size="maxSize"
                    ng-change="pageChangedOrder()"
                    boundary-links="false"
                    boundary-link-numbers="true"
                    rotate="false"
                    force-ellipses="true"
                    previous-text="‹"
                    next-text="›">
        </pagination>
    </div>
</div>

<script type="text/javascript">
    // tab切换
    $(".comment-list:first").show();
    $(".tab-comment li:first").addClass("comment-on");
    $(".tab-comment li").click(function () {
        $(this).addClass("comment-on").removeClass("").siblings().removeClass("comment-on").addClass("");
        $(".comment-list").hide().eq($(".tab-comment li").index(this)).show();
    });
</script>