<div ng-controller="ComplaintCenterCtrl">
     <div ng-show="State=='index'">
    <div class="choice-box clearfix">
        <select class="select-u" ng-model="complainObj.complain_type" ng-change="complainTypeChange()" >
            <option value="1">按时间逆序</option>
            <option value="2">按投诉类型</option>
        </select>
        <div class="search-box">
            <span class="search-img" ng-click="init()"><img src="images/search.png"></span>
            <input type="text" placeholder="Search" ng-model="complainObj.title">
        </div>
    </div>
    <div class="dis-table">
        <table class="table-list">
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>联系方式</th>
                <th>投诉类型</th>
                <th>内容</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,model) in complainList">
                <td ng-bind="model.order_num">1</td>
                <td ng-bind="model.complain_name">刘丽</td>
                <td ng-bind="model.complain_mobile">18345698523</td>
                <td ng-bind="model.complain_type">导游服务</td>
                <td ng-bind="model.content" title="model.content">不负责任，态度差</td>
                <td ng-bind="model.complain_time">2017.02.28 16:02</td>
                <td ng-click="ShowDetail(model.id)"><a><i class="iconfont">&#xe645;</i></a></td>
            </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm pull-right"
                    items-per-page="complainObj.page_size"
                    ng-model="complainObj.page"
                    total-items="totalItems"
                    max-size="maxSize"
                    ng-change="pageChanged()"
                    boundary-links="false"
                    boundary-link-numbers="true"
                    rotate="false"
                    force-ellipses="true"
                    previous-text="‹"
                    next-text="›">
        </pagination>
    </div>
</div>
     <div ng-show="State=='detail'">
         <div class="fr m-t-5" ng-click="turnToIndex()"><a class="btn-cn btn-yellow">返&nbsp;&nbsp;&nbsp;&nbsp;回</a></div>
            <p class="intro-stitle">投诉建议</p>
            <div class="m-l-13">
                <p class="complaint-title"  ng-bind="complainInfo.complain_text">旅行社服务</p>
                <div class="complaint-content" ng-bind="complainInfo.content">
                    <!--<p>安全管理制度不健全，应急预案不完善，安全责任落实不到位，景区内安全设施陈旧，警示标识缺乏，上榜旅游安全保障最差景区。此外，还擅自增加自费项目在景区乱涂乱刻等原因。安全管理制度不健全，应急预案不完善，安全责任落实不到位，景区内安全设施陈旧，警示标识缺乏，上榜旅游安全保障最差景区。此外，还擅自增加自费项目、游客在景区乱涂乱刻等原因。安全管理制度不健全，应急预案不完善，安全责任落实不到位，景区内安全设施陈旧，警示标识缺乏，上榜旅游安全保障最差景区。此外，还擅自增加自费项目、游客在景区乱涂乱刻等原因。</p>-->
                    <!--<p>安全管理制度不健全，应急预案不完善，安全责任落实不到位，景区内安全设施陈旧，警示标识缺乏，上榜旅游安全保障最差景区。此外，还擅自增加自费项目区乱涂乱刻等原因。安全管理制度不健全，应急预案不完善，安全责任落实不到位，景区内安全设施陈旧，警示标识缺乏，上榜旅游安全保障最差景区。此外，还擅自增加自费项目、游客在景区乱涂乱刻等原因。</p>-->
                    <!--<p>安全管理制度不健全，应急预案不完善，安全责任落实不到位，景区内安全设施陈旧，警示标识缺乏，上榜旅游安全保障最差景区。此外，还擅自增加自费项目涂乱刻等原因。</p>-->
                    <!--<p>安全管理制度不健全，应急预案不完善，安全责任落实不到位，景区内安全设施陈旧，警示标识缺乏，上榜旅游安全保障最差景区。此外，还擅自增加自费项目涂乱刻等原因。</p>-->
                </div>
                <ul class="uploadimg clearfix">
                    <!--<img ng-src="{{ResUrl+completeMessage.guide_card_id_photo}}">-->
                    <li ng-repeat="model in complainInfo.content_file">
                        <img ng-src="{{ResUrl+model.id}}">
							   <span class="shadow-btn">
								   <a class="btn-uplook"><i class="iconfont"  ng-click="showPic(model.id)">&#xe626;</i></a>
							   </span>
                    </li>
                    <!--<li><img src="images/img01.png">-->
							   <!--<span class="shadow-btn">-->
								   <!--<a class="btn-uplook"><i class="iconfont">&#xe626;</i></a>-->
							   <!--</span>-->
                    <!--</li>-->
                    <!--<li><img src="images/img01.png">-->
							   <!--<span class="shadow-btn">-->
								   <!--<a class="btn-uplook"><i class="iconfont">&#xe626;</i></a>-->
							   <!--</span>-->
                    <!--</li>-->
                </ul>
            </div>
            <p class="intro-stitle">投诉人</p>
            <div class="m-l-13">
                <span class="complaint-img"><img src="images/default_person.png"><span  ng-bind="complainInfo.complain_name"></span></span>
                <span class="complaint-phone"> 联系方式：<b ng-bind="complainInfo.complain_mobile">13541452144</b></span>
            </div>
         <div class="text-center">
             <a class="btn-cn btn-gray" ng-click="editComplain(complainInfo.id,1)">不通过</a>
             <a class="btn-cn btn-yellow" ng-click="editComplain(complainInfo.id,2)">通&nbsp;&nbsp;&nbsp;&nbsp;过</a>
         </div>
        </div>
    <div class="picArea" style="display: none">
        <img  ng-src="{{showPicUrl}}">
    </div>
</div>


