<div ng-controller="GudieManageCtrl">
    <div ng-show="State=='index'">
        <div class="choice-box clearfix">
            <select class="select-u">
                <option>全部</option>
                <option>星级从高到低</option>
                <option>品牌导游</option>
                <option>按性别排序</option>
                <option>按会员类型</option>
            </select>
            <div class="search-box">
                <span class="search-img"><img src="images/search.png"></span>
                <input type="text" class="" placeholder="Search" ng-model="InfoObj.title">
            </div>
            <div class="fr m-t-5"><a class="btn-import"><i class="iconfont">&#xe633;</i>导入导游</a></div>
        </div>
        <div class="dis-table">
            <table class="table-list">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>联系方式</th>
                        <th>星级</th>
                        <th>类型</th>
                        <th>品牌</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,model) in guideList">
                        <td ng-bind="key+1">1</td>
                        <td ng-bind="model.name">张明</td>
                        <td ng-bind="model.sex==1?'男':'女'">男</td>
                        <td ng-bind="model.mobile">15101412144</td>
                        <td ng-bind="model.check_time">2017-02-18 18:00</td>
                        <td><span ng-bind="model.year"></span>年</td>
                        <td ng-bind="model.guide_card_no"></td>
                        <td ng-click="ShowDetail(model.id)"><a><i class="iconfont">&#xe645;</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination class="pagination-sm" items-per-page="InfoObj.page_size" ng-model="InfoObj.page" total-items="totalItems" max-size="maxSize"
            ng-change="pageChanged()" boundary-links="false" boundary-link-numbers="true" rotate="false" force-ellipses="true"
            previous-text="‹" next-text="›">
        </pagination>

    </div>
    <div ng-show="State=='detail'">
        <guide_info></guide_info>
        <div class="text-center">
            <a class="btn-cn btn-gray" ng-click="editGuideInfo(5)">注&nbsp;&nbsp;&nbsp;&nbsp;销</a>
            <a class="btn-cn btn-yellow" ng-click="editGuideInfo(4)">升为品牌导游</a>
        </div>
    </div>
    <div ng-show="State=='history'">
        <div class="choice-box clearfix">
            <select class="select-u">
                <option>按星级顺序</option>
                <option>按时间倒序</option>
            </select>
            <select class="select-u" ng-model="orderObj.order_type" ng-change="initOrder()">
                <option value="1">按星级顺序</option>
                <option value="2">按时间倒序</option>
            </select>
            <div class="search-box">
                <span class="search-img"><img src="images/search.png"></span>
                <input type="text" class="" placeholder="Search" ng-model="orderObj.title">
            </div>
            <div class="fr m-t-5" ng-click="turnToDetail()"><a class="btn-import"><i class="iconfont">&#xe633;</i>返回</a></div>
        </div>
        <div class="teams-box">
            <div class="teams-part" ng-repeat="order in orderList">
                <div class="radius-top"><img src="images/radius_top.png"></div>
                <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                <div class="team-infor clearfix">
                    <div class="team-img"><img src="images/team02.png"></div>
                    <div class="team-text">
                        <h5 ng-bind="order.name"></h5>
                        <p class="team-detail" ng-bind="order.desc"></p>
                        <!--这边做特殊处理-->
                        <p class="team-time">{{order.begin_time}}~{{order.end_time}}</p>
                    </div>
                    <div class="team-state">
                        <p ng-bind="order.guide_comment.comment_time">2017-02-15 15:31</p>
                        <div class="team-pay">
                            <i class="iconfont cb">&#xe61c;</i><span><span ng-bind="order.guide_num"></span>人</span>
                            <i class="iconfont cr">&#xe613;</i><span>￥<span
                                ng-bind="order.guide_money"></span>/次</span>
                        </div>
                    </div>
                </div>
                <div class="team-comment">
                    <p>
                        <div style="display: inline" star rating-value="order.guide_comment.star" max="5" on-hover="onHover"
                            on-leave="onLeave" readonly="true">
                    </p>
                    <p class="team-comment-text" ng-bind="order.guide_comment.content">认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。</p>
                    </div>
                </div>
            </div>
            <pagination class="pagination-sm pull-right" items-per-page="orderObj.page_size" ng-model="orderObj.page" total-items="totalItems"
                max-size="maxSize" ng-change="pageChangedOrder()" boundary-links="false" boundary-link-numbers="true" rotate="false"
                force-ellipses="true" previous-text="‹" next-text="›">
            </pagination>
        </div>
    </div>