
    <div class="col-sm-6 p-l-0 p-r-5">
        <div class="staticbox pr">
            <p class="staticbox-title">导游人物画像人物</p>
            <select class="staticbox-select">
                <option>按性别区分</option>
                <option>按品牌号区分</option>
                <option>按品牌导游区分</option>
                <option>按年龄区分</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6 p-r-0 p-l-5">
        <div class="staticbox">
            <p class="staticbox-title">2016年平台认证导游数</p>
        </div>
    </div>
    <div class="col-sm-6  p-l-0 p-r-5">
        <div class="staticbox">

        </div>
    </div>
    <div class="col-sm-6 p-r-0 p-l-5">
        <div class="staticbox">

        </div>
    </div>
