<div class="login-bg" ng-controller="Reset1Controller">
    <div class="login-content">
        <h1 class="login-title">重置密码</h1>
        <div class="login-line">
            <span><i class="iconfont login-icon">&#xe60c;</i></span>
            <input type="text" placeholder="手机号">
        </div>
        <div class="login-line">
            <span><i class="iconfont login-icon">&#xe622;</i></span>
            <input class="w-yz" type="text" placeholder="验证码">
            <a class="btn-resive">获取验证码</a>
            <!-- <a class="btn-resive color-go">52秒</a>	倒计时的样式 -->
        </div>
        <div class="login-btn" ng-click="resetNext()"><a>下一步</a></div>
        <div class="login-link" ui-sref="index.regist">没有帐号？<a>点击注册</a></div>
    </div>
</div>

<script type="text/javascript">
    // 左侧导航栏滚动条自适应
    function layout() {
        $(".login-bg").css("height", $(window).height() - 148);
    };
    layout();
    $(window).resize(function () { layout() });

</script>