<div ng-controller="GuideEditCtrl">
    <div ng-show="completeMode">
    <ul class="tab-order clearfix">
        <li>我的信息</li>
        <li>帐号管理</li>
    </ul>
    <!--   我的信息    -->
    <div class="teams-list">
        <div class="join-alert" ng-show="InfoObj.level==1&&InfoObj.guide_card_no!=null">您还不是我们的会员导游哦~快来<a ng-click="TurnToJionUs()">【加入我们】</a>吧！</div>
        <guide_info></guide_info>
        <!--<div class="person-detail clearfix">-->
            <!--<div class="person-left"><img src="images/default_person.png"></div>-->
            <!--<div class="person-infor">-->
                <!--<div class="p-m1">-->
                    <!--<span class="pp-name">王晓曦</span><i class="iconfont icon-woman">&#xe607;</i><span class="pp-age">28岁</span><span class="acrossline">|</span>-->
                    <!--<span class="pp-gimg">品牌导游<img src="images/honer.png"></span><span class="acrossline">|</span>-->
                    <!--<span class="pp-scroe">平均评分<img src="images/star.png"></span><span class="acrossline">|</span>带团年限：<span>5年</span>-->
                <!--</div>-->
                <!--<div class="p-m2">-->
                    <!--<span><i class="iconfont icon-guide">&#xe603;</i>自由导游</span>-->
                    <!--<span class="acrossline">|</span>导服中心评价：此导游总是临时取消订单。-->
                <!--</div>-->
                <!--<div class="p-m3">常带江浙沪一带短期团队，为人和善，有耐心，风趣幽默。常带江浙沪一带短期团队，为人和善，有耐心，风趣幽默。<a class="icon-edit"><i class="iconfont">&#xe6cc;</i></a></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<p class="intro-stitle">基础资料<a class="icon-edit"><i class="iconfont">&#xe6cc;</i></a></p>-->
        <!--<div class="intro-part clearfix">-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>姓<span class="m-l-84"></span>名：</label>-->
                <!--<span>王晓峰</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>性<span class="m-l-70"></span>别：</label>-->
                <!--<span>女</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>语<span class="m-l-57"></span>言：</label>-->
                <!--<span>汉语、英语、法语</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>带<span class="m-l-19"></span>团<span class="m-l-19"></span>年<span class="m-l-19"></span>限：</label>-->
                <!--<span>5年</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>带&nbsp;&nbsp;&nbsp;&nbsp;团&nbsp;&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;数：</label>-->
                <!--<span>15次</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>手&nbsp;&nbsp;机&nbsp;&nbsp;&nbsp;号&nbsp;&nbsp;码：</label>-->
                <!--<span>18862165874</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>导游资格证书号码：</label>-->
                <!--<span>D213215F1212554536</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>导&nbsp;游&nbsp;&nbsp;证&nbsp;&nbsp;编&nbsp;&nbsp;号：</label>-->
                <!--<span>D-3320-0075461</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>导游证IC卡号：</label>-->
                <!--<span>D-3320-0075461</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>所&nbsp;&nbsp;属&nbsp;&nbsp;&nbsp;旅&nbsp;&nbsp;&nbsp;行&nbsp;&nbsp;社：</label>-->
                <!--<span>自由导游</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>导服中心注册号：</label>-->
                <!--<span>539</span>-->
            <!--</div>-->
            <!--<div class="col-sm-12 intro-line">-->
                <!--<label>常<span class="m-l-19"></span>带<span class="m-l-19"></span>路<span class="m-l-19"></span>线：</label>-->
                <!--<span>江浙沪一带</span>-->
            <!--</div>-->
            <!--<div class="col-sm-12 intro-line">-->
                <!--<label>简<span class="m-l-84"></span>介：</label>-->
                <!--<span>常带江浙沪一带短期团队，为人和善，有耐心，风趣幽默。</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<p class="intro-stitle">图像资料</p>-->
        <!--<ul class="imgbox clearfix">-->
            <!--<li><img src="images/book01.png"><span class="imgbox-num">导游资格证书（1）</span></li>-->
            <!--<li><img src="images/book02.png"><span class="imgbox-num">导游证（1）</span></li>-->
            <!--<li><img src="images/book03.png"><span class="imgbox-num">合同（16）</span></li>-->
        <!--</ul>-->
        <!--<p class="intro-stitle">详细资料<a class="icon-edit"><i class="iconfont">&#xe6cc;</i></a></p>-->
        <!--<div class="intro-part clearfix">-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>身&nbsp;&nbsp;&nbsp;份&nbsp;&nbsp;&nbsp;证&nbsp;&nbsp;&nbsp;号&nbsp;&nbsp;码：</label>-->
                <!--<span>320581199101011234</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>出 生 日 期：</label>-->
                <!--<span>1991年01月01日</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>民<span class="m-l-40"></span>族：</label>-->
                <!--<span>汉族</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>政<span class="m-l-20"></span>治<span class="m-l-20"></span>面<span class="m-l-20"></span>貌：</label>-->
                <!--<span>党员</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>户口所在地：</label>-->
                <!--<span>江苏</span>-->
            <!--</div>-->
            <!--<div class="col-sm-12 intro-line">-->
                <!--<label>现<span class="m-l-37"></span>住<span class="m-l-37"></span>址：</label>-->
                <!--<span>江苏省苏州市工业园区车坊镇淞泽家园一区12栋501</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>家<span class="m-l-20"></span>庭<span class="m-l-20"></span>电<span class="m-l-20"></span>话：</label>-->
                <!--<span>18862165874</span>-->
            <!--</div>-->
            <!--<div class="col-sm-8 intro-line">-->
                <!--<label>邮<span class="m-l-40"></span>箱：</label>-->
                <!--<span>421154541254@qq.com</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>毕<span class="m-l-20"></span>业<span class="m-l-20"></span>学<span class="m-l-20"></span>校：</label>-->
                <!--<span>苏州大学</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>专<span class="m-l-40"></span>业：</label>-->
                <!--<span>旅游文化</span>-->
            <!--</div>-->
            <!--<div class="col-sm-4 intro-line">-->
                <!--<label>学<span class="m-l-40"></span>历：</label>-->
                <!--<span>本科</span>-->
            <!--</div>-->
            <!--<div class="col-sm-12 intro-line">-->
                <!--<label>学&nbsp;习&nbsp;&nbsp;工&nbsp;作&nbsp;&nbsp;经&nbsp;&nbsp;历：</label>-->
                <!--<span>2012年9月在阆中海天旅行社做过兼职导游</span>-->
            <!--</div>-->
            <!--<div class="col-sm-12 intro-line">-->
                <!--<label>兴 趣 爱 好 / 特 长：</label>-->
                <!--<span>唱歌、旅游、运动、看书</span>-->
            <!--</div>-->
            <!--<div class="col-sm-12 intro-line">-->
                <!--<label>荣&nbsp;&nbsp;&nbsp;誉&nbsp;&nbsp;&nbsp;和&nbsp;&nbsp;&nbsp;奖&nbsp;&nbsp;励：</label>-->
                <!--<span>导游证、普通话证、计算机一级证、电子商务师证、英语能力级</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="text-center">-->
            <!--<a class="btn-cn btn-yellow">保&nbsp;&nbsp;&nbsp;&nbsp;存</a>-->
        <!--</div>-->

    </div>
    <!--   帐号管理    -->
    <div class="teams-list">
        <div class="guide-account">
            <div class="guideimgbox">
                <div class="setimg">
                    <img src="images/default_person.png">
                    <span class="changeimg">更改头像</span>
                </div>
            </div>
            <div class="guideaccountbox">
                <div class="account-line clearfix">
                    <label>当前密码</label>
                    <input type="password">
                </div>
                <div class="account-line clearfix">
                    <label>新密码</label>
                    <input type="password">
                </div>
                <div class="account-line clearfix">
                    <label>确认新密码</label>
                    <input type="password">
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn-cn btn-yellow">保&nbsp;&nbsp;&nbsp;&nbsp;存</a>
        </div>
    </div>
    </div>
    <div ng-show="!completeMode">
        <form class="information-content" name="registForm">
            <h1 class="login-title m-b-30">完善资料</h1>
            <div class="information-line" >
                <label>姓名</label>
                <!--<input type="text" name="name" ng-maxlength="20" required>-->
                <input type="text"  name="name" required ng-model="completeMessage.name" ng-maxlength="20">
            </div>
            <!-- ng-show="registForm.name.$dirty && registForm.name.$invalid"-->
            <div class="alert alert-danger help-block" ng-show="registForm.name.$dirty && registForm.name.$invalid">
                姓名在20个字符以内
            </div>
            <div class="information-line">
                <label>性别</label>
			   <span class="infor-sex">
			       <span><input type="radio" name="sex" ng-click="changeSex(1)"> 男</span>
			       <span><input type="radio" name="sex" ng-click="changeSex(2)"> 女</span>
			   </span>
            </div>
            <div class="information-line">
                <label>联系方式</label>
                <input type="text" name="address" ng-maxlength="50" required ng-model="completeMessage.address">
            </div>
            <div class="alert alert-danger help-block" ng-show="registForm.address.$dirty && registForm.address.$invalid">
                联系方式在50个字符以内
            </div>

            <div class="information-line">
                <label>导游资格证书号码</label>
                <input class="w-t" type="text" name="guide_card_id" ng-maxlength="50" required ng-model="completeMessage.guide_card_id">
                <a class="btn-uploadimg">上传图片</a>
                <input id="guide_card_id_photo" class="upload-file-input" name="upload" type="file" accept="image/png, image/jpeg, image/gif"
                       onchange="angular.element(this).scope().file_changed(this)" />
            </div>

            <div class="alert alert-danger help-block" ng-show="registForm.guide_card_id.$dirty && registForm.guide_card_id.$invalid">
                导游资格证书号码在50个字符以内
            </div>

            <div class="information-line">
                <label>导游证编号</label>
                <input class="w-t" type="text" name="guide_card_no" ng-maxlength="50" required ng-model="completeMessage.guide_card_no">
                <a class="btn-uploadimg">上传图片</a>
                <input id="guide_card_no_photo" class="upload-file-input" name="upload" type="file" accept="image/png, image/jpeg, image/gif"
                       onchange="angular.element(this).scope().file_changed(this)" />
            </div>

            <div class="alert alert-danger help-block" ng-show="registForm.guide_card_no.$dirty && registForm.guide_card_no.$invalid">
                导游证编号在50个字符以内
            </div>

            <div class="information-upimg clearfix">
                <div class="upimg-box fl"  ng-show="completeMessage.guide_card_id_photo!=null && completeMessage.guide_card_id_photo.length>0">
                    <!--<img src="images/book01.png">-->
                    <img ng-src="{{ResUrl+completeMessage.guide_card_id_photo}}">
                    <span class="imgbox-num">导游资格证书（1）</span>
					<span class="shadow-btn pop-h">
					   <a class="btn-uplook" ><i class="iconfont" ng-click="showPic(completeMessage.guide_card_id_photo)"></i></a>
					   <a class="btn-updel"><i class="iconfont"   ng-click="delPic('guide_card_id_photo')"></i></a>
				    </span>
                </div>
                <div class="upimg-box fr text-right"  ng-show="completeMessage.guide_card_no_photo!=null && completeMessage.guide_card_no_photo.length>0">
                    <img ng-src="{{ResUrl+completeMessage.guide_card_no_photo}}">
                    <span class="imgbox-num">导游证（1）</span>
					<span class="shadow-btn pop-h">
					   <a class="btn-uplook"><i class="iconfont" ng-click="showPic(completeMessage.guide_card_no_photo)"></i></a>
					   <a class="btn-updel"><i class="iconfont"  ng-click="delPic('guide_card_no_photo')"></i></a>
				    </span>
                </div>
            </div>
            <div class="login-btn w-btn" ng-click="submitMessage()"><a>完   成</a></div>
        </form>
    </div>
</div>

<script type="text/javascript">
    // 左侧导航栏滚动条自适应
    function layout() {
        $(".sidebar").css("height", $(window).height() - 65);
        $(".container-box").css("height", $(window).height() - 65);
    };
    layout();
    $(window).resize(function () { layout() });

    // 左侧导航栏样式
    $(".sidebar-content>li").click(function(){
        $(this).addClass("c-active").removeClass("").siblings().addClass("").removeClass("c-active");
    });
    $(".sidebar-content>li>a").click(function(){
        var ul=$(this).parent("li").children("ul");
        if(ul.is(":hidden")){
            ul.slideToggle();
            $(this).children(".icon-show").html("&#xe640;");
        }else{
            ul.slideToggle();
            $(this).children(".icon-show").html("&#xe6bf;");
        }
    });
    $(".sidebar-content>li>ul>li").click(function(){
        $(this).addClass("a-active").removeClass("").siblings().addClass("").removeClass("a-active");
    });

    // tab切换
    $(".teams-list:first").show();
    $(".tab-order li:first").addClass("active-tab");
    $(".tab-order li").click( function(){
        $(this).addClass("active-tab").removeClass("").siblings().removeClass("active-tab").addClass("");
        $(".teams-list").hide().eq($(".tab-order li").index(this)).show();
    });

</script>

