<div class="container-bg">
    <ul class="bz-box clearfix">
        <li><img src="images/bz01.png"><span>下载合同</span></li>
        <li class="m-t-30"><img src="images/bz_next.png"></li>
        <li class="color-262626"><img src="images/bzc02.png"><span>打印合同</span></li>
        <li class="m-t-30"><img src="images/bz_next.png"></li>
        <li><img src="images/bz03.png"><span>填写资料</span></li>
        <li class="m-t-30"><img src="images/bz_next.png"></li>
        <li><img src="images/bz04.png"><span>签名确认</span></li>
        <li class="m-t-30"><img src="images/bz_next.png"></li>
        <li><img src="images/bz05.png"><span>拍照上传</span></li>
    </ul>
    <p class="bz-text">请仔细阅读《导游服务中心会员导游签约合同模板》之后进行打印</p>
    <div class="text-center"><a class="btn-cn btn-yellow">下一步</a></div>
</div>