<div ng-controller="OrderReceiveCtrl">
    <div ng-show="State=='index'">
        <div class="choice-box clearfix">
            <select class="select-u" ng-model="orderObj.order_type" ng-change="OrdertypeChange()">
                <option value="1">按发单时间顺序</option>
                <option value="2">按开团人数顺序</option>
                <option value="3">按费用顺序</option>
            </select>
            <div class="search-box">
                <span class="search-img"><img src="images/search.png"></span>
                <input type="text" class="" placeholder="Search" ng-model="orderObj.title">
            </div>
        </div>
        <div class="teams-box">
            <div class="teams-part" ng-repeat="order in orderList">
                <div class="radius-top"><img src="images/radius_top.png"></div>
                <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                <div class="team-infor clearfix">
                    <div class="team-img"><img src="images/team01.png"></div>
                    <div class="team-text">
                        <h5 ng-bind="order.name"></h5>
                        <p class="team-detail" ng-bind="order.desc"></p>
                        <p class="team-time"><span ng-bind="order.begin_time"></span>~<span
                                ng-bind="order.end_time"></span></p>
                    </div>
                    <div class="team-state">
                        <p ng-bind="order.create_time">2017-02-15 15:31</p>
                        <div class="team-pay">
                            <i class="iconfont cb">&#xe61c;</i><span><span ng-bind="order.guide_num"></span>人</span>
                            <i class="iconfont cr">&#xe613;</i><span>￥<span ng-bind="order.guide_money"></span>/次</span>
                        </div>
                    </div>
                    <div class="team-pop">
                        <div class="team-pop-title clearfix">
                            <div class="team-pop-img"><img src="images/team01.png"></div>
                            <div class="team-pop-text">
                                <h3>苏州康辉旅行社</h3>
                                <h5>高素质的员工、高质量的服务、高水平的旅游</h5>
                                <h6>成立时间：<span>2011年3月</span></h6>
                                <h6>联系方式：<span>18555623236</span></h6>
                            </div>
                        </div>
                        <p class="team-pop-star"></p>
                        <p class="team-pop-orderdetail">订单完成率（3个月内）：<span>95%</span></p>
                        <p class="team-pop-orderdetail m-b-10">订单评价统计（3个月内）：<span>好评（52）</span>/<span> 中评（1）</span> /
                            <span>差评（1）</span></p>
                        <p class="team-pop-comment">导服中心评价：<span>该旅行社取消订单次数过多。</span></p>
                    </div>
                </div>
                <div class="team-btn">
                    <a class="btn-cn btn-empty-yellow" ng-click="turnToDetail(order.id)">查看详情</a>
                    <a class="btn-cn btn-yellow">我要接单</a>
                </div>
            </div>
        </div>
        <pagination class="pagination-sm pull-right"
                    items-per-page="orderObj.page_size"
                    ng-model="orderObj.page"
                    total-items="totalItems"
                    max-size="maxSize"
                    ng-change="pageChanged()"
                    boundary-links="false"
                    boundary-link-numbers="true"
                    rotate="false"
                    force-ellipses="true"
                    previous-text="‹"
                    next-text="›">
        </pagination>
    </div>
    <div ng-show="State=='detail'">
        <order-detail></order-detail>
        <div class="text-center">
            <a class="btn-cn gray btn-acceptorder" ng-click="turnToIndex()">返回</a>
            <a class="btn-cn btn-yellow btn-acceptorder" ng-click="RecieveOrder(orderDetail.id)">接&nbsp;&nbsp;&nbsp;单</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 覆盖显示
    $(".teams-box").on("mouseover", ".team-infor .team-img", function () {
        $(this).parent().children(".team-pop").show();
    });

    $(".teams-box").on("mouseleave", ".team-infor .team-img", function () {
        $(this).parent().children(".team-pop").hide();
    });

</script>