<div ng-controller="OrderNowCtrl">
    <div ng-show="State=='index'">
        <ul class="tab-order clearfix">
            <li ng-click="typeChange(20)">待确认<span>（<span ng-bind="orderCount.type_20_count"></span>）</span></li>
            <li ng-click="typeChange(21)">待出团<span>（<span ng-bind="orderCount.type_21_count"></span>）</span></li>
            <li ng-click="typeChange(22)">出团中<span>（<span ng-bind="orderCount.type_22_count"></span>）</span></li>
            <li ng-click="typeChange(23)">待结束<span>（<span ng-bind="orderCount.type_23_count"></span>）</span></li>
        </ul>
        <!--   出团中    -->
        <div class="teams-list">
            <div class="choice-box clearfix">
                <select class="select-u" ng-model="orderObj.order_type" ng-change="OrdertypeChange()">
                    <option value="1">按发单时间顺序</option>
                    <option value="2">按开团人数顺序</option>
                    <option value="3">按费用顺序</option>
                </select>
                <div class="search-box">
                    <span class="search-img"><img src="images/search.png"></span>
                    <input type="text" class="" placeholder="Search" ng-model="orderObj.title">
                </div>
            </div>
            <div class="teams-box">
                <div class="teams-part" ng-repeat="order in orderList">
                    <div class="radius-top"><img src="images/radius_top.png"></div>
                    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                    <div class="team-infor clearfix">
                        <div class="team-img"><img src="images/team01.png"></div>
                        <div class="team-text">
                            <h5 ng-bind="order.name"></h5>
                            <p class="team-detail" ng-bind="order.desc"></p>
                            <!--这边做特殊处理-->
                            <p class="team-time">{{order.begin_time}}~{{order.end_time}}</p>
                        </div>
                        <div class="team-state">
                            <p ng-bind="order.create_time">2017-02-15 15:31</p>
                            <div class="team-pay">
                                <i class="iconfont cb">&#xe61c;</i><span><span ng-bind="order.guide_num"></span>人</span>
                                <i class="iconfont cr">&#xe613;</i><span>￥<span
                                    ng-bind="order.guide_money"></span>/次</span>
                            </div>
                        </div>
                        <div class="team-pop">
                            <div class="team-pop-title clearfix">
                                <div class="team-pop-img"><img src="images/team01.png"></div>
                                <div class="team-pop-text">
                                    <h3>苏州康辉旅行社</h3>
                                    <h5>高素质的员工、高质量的服务、高水平的旅游</h5>
                                    <h6>成立时间：<span>2011年3月</span></h6>
                                    <h6>联系方式：<span>18555623236</span></h6>
                                </div>
                            </div>
                            <p class="team-pop-star"></p>
                            <p class="team-pop-orderdetail">订单完成率（3个月内）：<span>95%</span></p>
                            <p class="team-pop-orderdetail m-b-10">订单评价统计（3个月内）：<span>好评（52）</span>/<span> 中评（1）</span>
                                /
                                <span>差评（1）</span></p>
                            <p class="team-pop-comment">导服中心评价：<span>该旅行社取消订单次数过多。</span></p>
                        </div>
                    </div>
                    <div class="team-btn">
                        <a class="btn-cn btn-empty-yellow" ng-click="turnToDetail(order.id)">查看详情</a>
                        <a class="btn-cn btn-yellow" ng-show="orderObj.type==23">结束</a>
                    </div>
                </div>
            </div>
            <pagination class="pagination-sm pull-right"
                        items-per-page="orderObj.page_size"
                        ng-model="orderObj.page"
                        total-items="totalItems"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        boundary-links="false"
                        boundary-link-numbers="true"
                        rotate="false"
                        force-ellipses="true"
                        previous-text="‹"
                        next-text="›">
            </pagination>
        </div>
    </div>
    <div ng-show="State=='detail'">
        <order-detail></order-detail>
        <div class="text-center">
            <a class="btn-cn btn-gray btn-acceptorder" ng-click="turnToIndex()">返回</a>
            <a class="btn-cn btn-yellow btn-acceptorder" ng-show="orderObj.type==20" ng-click="CancelOrderAlert(orderDetail.id)">取消订单</a>
            <a class="btn-cn btn-yellow btn-acceptorder" ng-show="orderObj.type==23" ng-click="EndOrderAlert(orderDetail.id)">结束行程</a>
        </div>
    </div>

    <!--待出团界面，点击关闭订单弹窗-->
    <div class="pop-container cancel-order-alert" style="display: none">
        <div class="pop-header clearfix">
            <h4>取消订单</h4>
            <a class="m-close" ng-click="closeAlert()"><img src="images/close.png"></a>
        </div>
        <div class="pop-main">
            <div class="pop-txt pop-txt1">
                <img src="images/pop_notice.png">
                <p>是否确认取消此订单？<br/>
                </p>
            </div>
            <div class="pop-line">
                <label>取消订单</label>
                <textarea rows="4" placeholder="请填写取消订单的理由" ng-model="submitObj.content"></textarea>
            </div>
        </div>
        <div class="pop-btn">
            <a class="btn-gray" ng-click="closeAlert()">去确认</a>
            <a class="btn-yellow" ng-click="CancelOrder()">已确认</a>
        </div>
    </div>

    <div class="pop-container end-order-alert"  style="display: none">
        <div class="pop-header clearfix">
            <h4>评价</h4>
            <a class="m-close" ng-click="closeAlert()"><img src="images/close.png"></a>
        </div>
        <div class="pop-main">
            <p class="pop-title">请您为本次合作的旅行社评价吧！</p>
            <div class="pop-line">
                <label>服务评星</label>
                <div style="display: inline" star rating-value="submitObj.star" max="5" on-hover="onHover" on-leave="onLeave" readonly="false"></div>
            </div>
            <div class="pop-line">
                <label>服务评价</label>
                <textarea rows="6" placeholder="真实客观的描述有利于我们提高服务质量"></textarea>
            </div>
        </div>
        <div class="pop-btn">
            <a class="btn-gray" ng-click="closeAlert()">取&nbsp;&nbsp;消</a>
            <a class="btn-yellow" ng-click="EndOrder()" EndOrder>确&nbsp;&nbsp;定</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    // tab切换
    $(".teams-list:first").show();
    $(".tab-order li:first").addClass("active-tab");
    $(".tab-order li").click(function () {
        $(this).addClass("active-tab").removeClass("").siblings().removeClass("active-tab").addClass("");
        //$(".teams-list").hide().eq($(".tab-order li").index(this)).show();
    });
    $(".teams-box").on("mouseover", ".team-infor .team-img", function () {
        $(this).parent().children(".team-pop").show();
    });

    $(".teams-box").on("mouseleave", ".team-infor .team-img", function () {
        $(this).parent().children(".team-pop").hide();
    });
</script>