<div ng-controller="OrderDetailCtrl">
    <div class="intro-title clearfix">
        <div class="intro-logo"><img src="images/team01.png"></div>
        <div class="intro-text">
            <h2>周庄烟雨水乡一日游<h2>
                <h5>
                    订单编号：<span>2017031512353696</span>
                    创建时间：<span>2017-03-15 10:43:03</span>
                    <h5>
        </div>
    </div>
    <div class="intro-content">
        <p class="intro-stitle">订单信息</p>
        <div class="intro-part clearfix">
            <div class="col-sm-4 intro-line">
                <label>旅行社名称：</label>
                <span>苏州春秋国际旅行社</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>团 队 号 码：</label>
                <span>ZCCQ20170218</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>语<span class="m-l-40"></span>言：</label>
                <span>汉语、英语、法语</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>参 团 人 数：</label>
                <span>15人</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>传 真 号 码：</label>
                <span>0512-56358826</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>联 系 电 话：</label>
                <span>0512-56358826</span>
            </div>
            <div class="col-sm-12 intro-line">
                <label>集 合 地 点：</label>
                <span>江苏省苏州市工业园区若水路388号</span>
            </div>
            <div class="col-sm-12 intro-line">
                <label>上 团 时 间：</label>
                <span>017-02-20  08：00 ~ 2017-02-20  16：00</span>
            </div>
            <div class="col-sm-12 intro-line">
                <label>行 程 简 介：</label>
                <span>双桥、张厅、沈厅、迷楼、福安桥、张陵公园、单桥、李厅</span>
            </div>
        </div>
        <p class="intro-stitle">导游要求</p>
        <div class="intro-part clearfix">
            <div class="col-sm-4 intro-line">
                <label>导 游 人 数：</label>
                <span>1人</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>人 均 酬 金：</label>
                <span>300元</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>性<span class="m-l-40"></span>别：</label>
                <span>无要求</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>品 牌 导 游：</label>
                <span>无要求</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>评 分 要 求：</label>
                <span><img src="images/star.png"></span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>语 言 要 求：</label>
                <span>汉语、英语、法语</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>学 历 要 求：</label>
                <span>本科及以上</span>
            </div>
        </div>
    </div>
</div>
