<div class="header">
    <ul class="header-nav clearfix">
        <li class="headlogo"><img src="images/logo.png"><span class="headlabel">导服中心端</span></li>
        <li class="header-nav-right">
            <ul>
                <li class="usercenter">
                    <a>
                        <span>管理员</span>
							<span class="person-img">
								<img src="images/default_person.png">
							</span>
                    </a>
                </li>
                <li class="setup">
                    <a><i class="iconfont">&#xe60b;</i>退出</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="content">
    <div class="sidebar">
        <div class="sidebar-header">
            <a href="">
                <div class="profile-pic">
                    <img src="images/default_person.png"/>
                </div>
                <div class="profile-info">
                    你好，<span class="login-user-name">导服中心！</span>
                </div>
            </a>
        </div>
        <ul class="sidebar-content">
            <li>
                <a><i class="iconfont">&#xe605;</i>消息中心</a>
            </li>
            <li>
                <a><i class="iconfont">&#xe6fd;</i>审核中心</a>
            </li>
            <li>
                <a><i class="iconfont">&#xe604;</i>订单管理</a>
            </li>
            <li>
                <a><i class="iconfont">&#xe60a;</i>导游管理</a>
            </li>
            <li>
                <a><i class="iconfont">&#xe602;</i>旅行社管理</a>
            </li>
            <li>
                <a><i class="iconfont">&#xe61e;</i>统计中心</a>
            </li>
            <li>
                <a><i class="iconfont">&#xe654;</i>投诉中心</a>
            </li>
            <li>
                <a><i class="iconfont">&#xe660;</i>短信配置</a>
            </li>
        </ul>
    </div>
    <div class="container-box">
        <div class="container-m">
            <div class="container-title">
                <i class="iconfont">&#xe6a2;</i><span>消息中心</span>
            </div>
            <div class="container-bg">
                <div class="choice-box clearfix">
                    <select class="select-u">
                        <option>全部</option>
                        <option>待审核</option>
                        <option>待支付</option>
                        <option>确认关闭</option>
                        <option>新投诉</option>
                    </select>
                    <div class="search-box">
                        <span class="search-img"><img src="images/search.png"></span>
                        <input type="text" class="" placeholder="Search">
                    </div>
                </div>
                <div class="teams-part">
                    <div class="radius-top"><img src="images/radius_top.png"></div>
                    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                    <div class="team-infor clearfix">
                        <div class="team-img color-02"><img src="images/state02.png"></div>
                        <div class="team-text">
                            <h5>周庄烟雨水乡一日游</h5>
                            <p class="team-detail">双桥、张厅、沈厅、迷楼、福安桥、张陵公园、单桥、李厅</p>
                            <p class="team-time">2017.02.21 08:00~2017.02.21 16:00</p>
                        </div>
                        <div class="team-state">
                            <p>2017-02-15  15:31</p>
                            <div class="team-pay">
                                <i class="iconfont cb">&#xe61c;</i><span>1人</span>
                                <i class="iconfont cr">&#xe613;</i><span>￥300/次</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-btn">
                        <a class="btn-cn btn-empty-yellow">查看详情</a>
                    </div>
                </div>
                <div class="teams-part">
                    <div class="radius-top"><img src="images/radius_top.png"></div>
                    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                    <div class="team-infor clearfix">
                        <div class="team-img color-03"><img src="images/state03.png"></div>
                        <div class="team-text">
                            <h5>周庄烟雨水乡一日游</h5>
                            <p class="team-detail">双桥、张厅、沈厅、迷楼、福安桥、张陵公园、单桥、李厅</p>
                            <p class="team-time">2017.02.21 08:00~2017.02.21 16:00</p>
                        </div>
                        <div class="team-state">
                            <p>2017-02-15  15:31</p>
                            <div class="team-pay">
                                <i class="iconfont cb">&#xe61c;</i><span>1人</span>
                                <i class="iconfont cr">&#xe613;</i><span>￥300/次</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-btn">
                        <a class="btn-cn btn-empty-yellow">查看详情</a>
                    </div>
                </div>
                <div class="teams-part">
                    <div class="radius-top"><img src="images/radius_top.png"></div>
                    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                    <div class="team-infor clearfix">
                        <div class="team-img color-04"><img src="images/state04.png"></div>
                        <div class="team-text">
                            <h5>导游审核</h5>
                            <p class="team-detail">
                                <span>姓名：曹永平 </span>
                                <span>性别：女 </span>
                                <span>资历：3年</span>
                            </p>
                            <p class="team-time">
                                <span>联系电话：0512-52842645 </span>
                                <span>导游证编号：D-3203-004565</span>
                            </p>
                        </div>
                        <div class="team-state">
                            <p>2017-02-15  15:31</p>
                        </div>
                    </div>
                    <div class="team-btn">
                        <a class="btn-cn btn-empty-yellow">查看详情</a>
                    </div>
                </div>
                <div class="teams-part">
                    <div class="radius-top"><img src="images/radius_top.png"></div>
                    <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                    <div class="team-infor clearfix">
                        <div class="team-img color-05"><img src="images/state05.png"></div>
                        <div class="team-text">
                            <h5>周庄烟雨水乡一日游</h5>
                            <p class="team-detail">
                                <span>投诉类型：景区环境 </span>
                                <span>投诉内容：周庄环境脏乱差 </span>
                            </p>
                            <p class="team-time">
                                <span>投诉人：王小艺 </span>
                                <span>联系方式：18615865865</span>
                            </p>
                        </div>
                        <div class="team-state">
                            <p>2017-02-15  15:31</p>
                        </div>
                    </div>
                    <div class="team-btn">
                        <a class="btn-cn btn-empty-yellow">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="footer">
                苏ICP备08009322号&nbsp;&nbsp;&nbsp;苏州市旅游局&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：苏州星熙数据科技有限公司<br>业务咨询：0512-67678905&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术咨询：0512-67678905
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 左侧导航栏滚动条自适应
    function layout() {
        $(".sidebar").css("height", $(window).height() - 65);
        $(".container-box").css("height", $(window).height() - 65);
    };
    layout();
    $(window).resize(function () { layout() });

    // 左侧导航栏样式
    $(".sidebar-content>li").click(function(){
        $(this).addClass("c-active").removeClass("").siblings().addClass("").removeClass("c-active");
    });
</script>

