<div ng-controller="AgencyInfoCenterCtrl">
    <div class="choice-box clearfix">
        <select class="select-u" ng-model="InfoObj.type" ng-change="initText()">
            <option value="31,29,37,20,51,52,53,30">全部</option>
            <option value="31,29,37">特殊消息</option>
            <option value="20,51,52,53,30">常规消息</option>
        </select>

        <div class="search-box">
            <span class="search-img" ng-click="initText()"><img src="images/search.png"></span>
            <input type="text" class="" placeholder="Search" ng-model="InfoObj.title" ng-keyup="searchKey($event)">
        </div>
    </div>

    <info-temp></info-temp>
    <!--<div class="teams-part">-->
    <!--<div class="radius-top"><img src="images/radius_top.png"></div>-->
    <!--<div class="radius-bottom"><img src="images/radius_bottom.png"></div>-->
    <!--<div class="team-infor clearfix">-->
    <!--<div class="team-img color-01"><img src="images/state01.png"></div>-->
    <!--<div class="massage-notice">-->
    <!--<h5>温馨提示-->
    <!--<p class="message-time">2017-02-15 15:31</p>-->
    <!--</h5>-->
    <!--<p class="team-detail">只有与导服中心签约合同，成为导服中心的会员导游才能在本平台接订单哦，可进入个人中心下载合同模块，上传合同，等待导服中心审核。</p>-->
    <!--</div>-->

    <!--</div>-->

    <!--<div class="team-btn">-->
    <!--<a class="btn-cn btn-yellow" ng-click="ToEdit()">立即签约</a>-->
    <!--</div>-->
    <!--</div>-->

    <pagination ng-show="totalItems>0" class="pagination-sm" items-per-page="InfoObj.page_size" ng-model="InfoObj.page" total-items="totalItems" max-size="maxSize"
                ng-change="pageChanged()" boundary-links="false" boundary-link-numbers="true" rotate="false" force-ellipses="true" previous-text="‹"
                next-text="›">
    </pagination>

</div>