<div ng-controller="OrderDetailAgencyCtrl">
    <div class="intro-title clearfix">
        <div class="intro-logo"><img src="images/team01.png"></div>
        <div class="intro-text">
            <h2>周庄烟雨水乡一日游<h2>
                <h5>
                    订单编号：<span>2017031512353696</span>
                    创建时间：<span>2017-03-15 10:43:03</span>
                    <h5>
        </div>
    </div>
    <div class="intro-content">
        <p class="intro-stitle">订单信息</p>
        <div class="intro-part clearfix">
            <div class="col-sm-4 intro-line">
                <label>旅行社名称：</label>
                <span>苏州春秋国际旅行社</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>团 队 号 码：</label>
                <span>ZCCQ20170218</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>语<span class="m-l-40"></span>言：</label>
                <span>汉语、英语、法语</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>参 团 人 数：</label>
                <span>15人</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>传 真 号 码：</label>
                <span>0512-56358826</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>联 系 电 话：</label>
                <span>0512-56358826</span>
            </div>
            <div class="col-sm-12 intro-line">
                <label>集 合 地 点：</label>
                <span>江苏省苏州市工业园区若水路388号</span>
            </div>
            <div class="col-sm-12 intro-line">
                <label>上 团 时 间：</label>
                <span>017-02-20  08：00 ~ 2017-02-20  16：00</span>
            </div>
            <div class="col-sm-12 intro-line">
                <label>行 程 简 介：</label>
                <span>双桥、张厅、沈厅、迷楼、福安桥、张陵公园、单桥、李厅</span>
            </div>
        </div>
        <p class="intro-stitle">导游要求</p>
        <div class="intro-part clearfix">
            <div class="col-sm-4 intro-line">
                <label>导 游 人 数：</label>
                <span>1人</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>人 均 酬 金：</label>
                <span>300元</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>性<span class="m-l-40"></span>别：</label>
                <span>无要求</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>品 牌 导 游：</label>
                <span>无要求</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>评 分 要 求：</label>
                <span><img src="images/star.png"></span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>语 言 要 求：</label>
                <span>汉语、英语、法语</span>
            </div>
            <div class="col-sm-4 intro-line">
                <label>学 历 要 求：</label>
                <span>本科及以上</span>
            </div>
        </div>
        <div class="dashed-border"></div>
        <p class="intro-stitle">接团导游</p>
        <div class="guidebox">
            <div class="guide-infor clearfix">
                <div class="person-left"><img src="images/default_person.png"></div>
                <div class="person-infor">
                    <div class="p-m1">
                        <span class="pp-name">王晓曦</span><i class="iconfont icon-woman">&#xe607;</i><span class="pp-age">28岁</span><span class="acrossline">|</span>
                        <span class="pp-gimg">品牌导游<img src="images/honer.png"></span><span class="acrossline">|</span>
                        <span class="pp-scroe">平均评分<img src="images/star.png"></span><span class="acrossline">|</span>带团年限：<span>5年</span>
                    </div>
                    <div class="p-m2">
                        <span><i class="iconfont icon-guide">&#xe603;</i>自由导游</span>
                        <span class="acrossline">|</span>导服中心评价：此导游总是临时取消订单。
                    </div>
                    <div class="p-m3">常带江浙沪一带短期团队，为人和善，有耐心，风趣幽默。常带江浙沪一带短期团队，为人和善，有耐心，风趣幽默。</div>
                    <div class="openline">
                        <a class="img-more"><img src="images/more.png"></a>
                        <span class="doubleline"></span>
                    </div>
                    <div class="guideintro-part clearfix" style="display: block;">
                        <div class="col-sm-6 intro-line">
                            <label>语<span class="m-l-84"></span>种：</label>
                            <span>普通话、英语、意大利语</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>手<span class="m-l-10"></span>机<span class="m-l-10"></span>号<span class="m-l-10"></span>码：</label>
                            <span>12452112452</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>带<span class="m-l-19"></span>团<span class="m-l-19"></span>次<span class="m-l-19"></span>数：</label>
                            <span>5年</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>导 游 证 编 号：</label>
                            <span>D-3320-0075461</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>导游资格证书号码：</label>
                            <span>D213215F1212554536</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>导游证 IC卡号：</label>
                            <span>D-3320-0075461</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>民<span class="m-l-84"></span>族：</label>
                            <span>汉族</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>政&nbsp;&nbsp;治&nbsp;&nbsp;&nbsp;面&nbsp;&nbsp;貌：</label>
                            <span>党员</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>户&nbsp;&nbsp;&nbsp;口&nbsp;&nbsp;&nbsp;所&nbsp;&nbsp;&nbsp;在&nbsp;&nbsp;地：</label>
                            <span>江苏</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>邮<span class="m-l-57"></span>箱：</label>
                            <span>58625456@qq.com</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>毕<span class="m-l-19"></span>业<span class="m-l-19"></span>学<span class="m-l-19"></span>校：</label>
                            <span>苏州大学</span>
                        </div>
                        <div class="col-sm-6 intro-line">
                            <label>专<span class="m-l-57"></span>业：</label>
                            <span>旅游文化</span>
                        </div>
                        <div class="col-sm-12 intro-line">
                            <label>兴 趣 爱 好 / 特 长：</label>
                            <span>唱歌、旅游、运动、看书</span>
                        </div>
                        <div class="col-sm-12 intro-line">
                            <label>荣&nbsp;&nbsp;&nbsp;誉&nbsp;&nbsp;&nbsp;和&nbsp;&nbsp;&nbsp;奖&nbsp;&nbsp;励：</label>
                            <span>导游证、普通话证、计算机一级证、电子商务师证、英语能力级</span>
                        </div>
                        <div class="clear"></div>
                        <div class="openline m-l-15">
                            <a class="img-up"><img src="images/up.png"></a>
                            <span class="doubleline"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".img-more").click( function(){
        $(this).parents(".person-infor").children(".guideintro-part").show(100);
    });
    $(".img-up").click( function(){
        $(".guideintro-part").parents(".person-infor").children(".guideintro-part").hide(100);
    });

</script>

