<div ng-controller="OrderEndAgencyCtrl">
    <div ng-show="State=='index'">
        <div class="choice-box clearfix">
            <select class="select-u" ng-model="orderObj.order_type" ng-change="OrdertypeChange()">
                <option value="1">按发单时间顺序</option>
                <option value="2">按开团人数顺序</option>
                <option value="3">按费用顺序</option>
            </select>
            <div class="search-box">
                <span class="search-img" ng-click="initText()"><img src="images/search.png"></span>
                <input type="text" class="" placeholder="Search">
            </div>
        </div>
        <p class="noorder" ng-show="totalItems==0"><img src="images/noorder.png"></p>
        <div class="teams-box">
            <div class="teams-part" ng-repeat="order in orderList">
                <div class="radius-top"><img src="images/radius_top.png"></div>
                <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
                <div class="active-state"><img ng-show="order.status==31" src="images/active_success.png"><img ng-show="order.status!=31" src="images/active_fail.png"></div>
                <!--<div class="active-state"><img src="images/active_success.png"></div>-->
                <div class="team-infor clearfix">
                    <div class="travelagency-img"><span><img src="images/people03.png"></span></div>
                    <div class="team-text">
                        <h5 ng-bind="order.name"></h5>
                        <p class="team-detail" ng-bind="order.desc"></p>
                        <!--这边做特殊处理-->
                        <p class="team-time">{{order.begin_time}}~{{order.end_time}}</p>
                    </div>
                    <div class="team-state">
                        <p ng-bind="order.create_time">2017-02-15 15:31</p>
                        <div class="team-pay">
                            <i class="iconfont cb">&#xe61c;</i><span><span ng-bind="order.guide_num"></span>人</span>
                            <i class="iconfont cr">&#xe613;</i><span>￥<span
                                ng-bind="order.guide_money"></span>/次</span>
                        </div>
                    </div>
                </div>
                <div class="team-btn">
                    <a class="btn-cn btn-empty-yellow" ng-click="ShowDetail(order.id)">查看详情</a>
                </div>
            </div>
        </div>
        <pagination ng-show="totalItems>0" class="pagination-sm pull-right" items-per-page="orderObj.page_size" ng-model="orderObj.page" total-items="totalItems"
                    max-size="maxSize" ng-change="pageChanged()" boundary-links="false" boundary-link-numbers="true" rotate="false"
                    force-ellipses="true" previous-text="‹" next-text="›">
        </pagination>

    </div>
    <div ng-show="State=='detail'">
        <div class="fr m-t-5" ng-click="turnToIndex()"><a class="btn-cn btn-yellow">返&nbsp;&nbsp;&nbsp;&nbsp;回</a></div>
        <order-detail></order-detail>
        <order-guide></order-guide>
    </div>
</div>