<div class="wrap">
    <div class="homepage-h clearfix">
        <div class="homepage-hl">
            <h1>来这里，<br/>解决旅游需求</h1>
            <a class="btn-cn btn-yellow">立即登录</a>
        </div>
        <div class="homepage-hr">
            <img src="images/homepage_right.png">
        </div>
    </div>
    <div class="homepage-content">
        <h3 class="homepage-ctitle">更懂您的旅游服务平台</h3>
        <ul class="homepage-ul clearfix">
            <li><img src="images/part01.png">专业导游</li>
            <li><img src="images/part02.png">海量出团</li>
            <li><img src="images/part03.png">信用担保</li>
            <li><img src="images/part04.png">互惠互利</li>
        </ul>
        <h3 class="homepage-ctitle">尽享便捷优质的服务</h3>
        <div class="homepage-part clearfix">
            <div class="homepage-part-txt fl">
                <h3>比找到人<br/>更关键的是找对人</h3>
                <p>对 10 万组数据进行画像<br/>支持智能匹配算法<br/>99% 的项目都可以在 24 小时内找到导游</p>
            </div>
            <div class="homepage-part-right fr">
                <img src="images/part05.png">
            </div>
        </div>
        <div class="homepage-part clearfix">
            <div class="homepage-part-right fl m-t-47">
                <img src="images/part06.png">
            </div>
            <div class="homepage-part-txt fr">
                <h3>一目了然<br/>不止是便捷</h3>
                <p>流程步骤一目了然，完善的项目管理服务<br/>随时查看项目进度<br/>直接与需求方交流</p>
            </div>
        </div>
    </div>
</div>