<div  ng-controller="IndexController">
    <div class="homepage-bg">
        <div class="header homepage-head">
            <ul class="header-nav clearfix">
                <li class="headlogo"><img class="b-0" src="images/logo.png"></li>
                <li class="header-nav-right m-r-10">
                    <a class="btn-logo" ui-sref=".login">登 录</a>
                    <a class="btn-logo" ui-sref=".regist">注 册</a>
                </li>
            </ul>
        </div>
        <div ui-view=""></div>

    </div>

    <div class="footer m-b-10">
        苏ICP备08009322号&nbsp;&nbsp;&nbsp;苏州市旅游局&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：苏州星熙数据科技有限公司<br>业务咨询：0512-67678905&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术咨询：0512-67678905
    </div>
</div>
