<div class="teams-box">
    <div class="teams-part" ng-repeat="order in orderList">
        <div class="radius-top"><img src="images/radius_top.png"></div>
        <div class="radius-bottom"><img src="images/radius_bottom.png"></div>
        <div class="team-infor clearfix">
            <div class="team-img">
                <div class="team-img">
                    <img src="images/default_travel_company.png" ng-show="order.photo==null || order.photo==''">
                    <img ng-src="{{ResUrl+order.photo}}" ng-show="order.photo!=null&&order.photo!=''">
                </div>
            </div>
            <div class="team-text">
                <h5 ng-bind="order.name"></h5>
                <p class="team-detail" ng-bind="order.desc"></p>
                <!--这边做特殊处理-->
                <p class="team-time">{{order.begin_time}}~{{order.end_time}}</p>
            </div>
            <div class="team-state">
                <p ng-bind="order.guide_comment.comment_time">2017-02-15 15:31</p>
                <div class="team-pay">
                    <i class="iconfont cb">&#xe61c;</i><span><span ng-bind="order.guide_num"></span>人</span>
                    <i class="iconfont cr">&#xe613;</i><span>￥<span
                        ng-bind="order.guide_money"></span>/次</span>
                </div>
            </div>
        </div>
        <div class="team-comment">
            <p><div style="display: inline" star rating-value="order.guide_comment.star" max="5" on-hover="onHover" on-leave="onLeave" readonly="true"></p>
            <p class="team-comment-text" ng-bind="order.guide_comment.content">认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。认真负责，有责任心。</p>
        </div>
    </div>
</div>